/* CSS de la portada */
.portada-container {
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.portada-textos{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img-portada{
    width: 100%;
    height: 100vh;
    object-fit: cover ;
    position: absolute;
    z-index: -1;
}

.portada-h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.portada-h2{
    font-size: 50px;
    font-weight: 900;
    color: #feba0b;
}

.portada-hr {
    display: flex;
    width: 100%;
    color: white;
}

/* Texto seccion informacion general */

.informacion-text-color {
    color: #feba0b;
    font-size: 30px;
    font-weight: 800;
}

/* Publicidad video */
.publicidadVideoHome{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}


/* Carousel Opiniones clientes */
.texto-sombra{
    text-shadow: 7px 4px 5px black;
}

/* css de componente planes */

.img-sombra {
    border-radius: 20px;
    box-shadow: 2px 2px 9px #999;
}
