
.opcion1{ 
    align-items: center !important;  

}

.cardsadm{
text-align: center;
box-shadow: 0 0 20px 1px rgb(131, 131, 131);
align-items: center;
justify-content: center;
}

.Boxadm{
flex-direction: row;
display: flex;
align-items: center;
cursor: pointer;
}
.card-img:hover{
-webkit-transform:scale(1.3);
 transform:scale(1.3);
z-index: 1;
box-shadow: 0 0 20px 1px #838383;
}




    